<template>
  <div class="home">
    <Login :msg="msg"/>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Login from '@/views/Login.vue'; // @ is an alias to /src

@Options({
  components: {
    Login
  }
})
export default class Home extends Vue {
  msg = 'gdfgdfg';
}
</script>
<style scoped lang="scss">
.home{
  width: 100vw;
  height: 100vh;
}
</style>
