<template>
  <div class="container h-100 center align-items-center">
    <div class="row align-items-center center h-100">
        <div class="card  mt-sm-5 ">
          <form class="form">
            <h1>WMS</h1>
            <br />
            <br />
            <div class="row pb-2">
              <div class="col-sm">
                <a class="btn btn-primary button linkbtn  " href="#" role="button"
                  >Use Google</a
                >
              </div>
              <div class="col-sm">
                <a class="btn btn-primary button linkbtn " href="#" role="button"
                  >Use Facebook</a
                >
              </div>
            </div>
            <hr />
            <br />
            <div class="row">
              <div class="mb-3 label">
                <label for="exampleInputEmail1" class="form-label text-left"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control input"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="mb-2 label">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control input"
                id="exampleInputPassword1"
              />
            </div>
            <div class="row">
              <div class="col-sm mb-1 align-right">
                <span class="align-right">
                  <a href="#" class="forget">Quên mật khẩu</a>
                </span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary button signin">
              Đăng nhập
            </button>
          </form>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    msg: String
  }
})
export default class Login extends Vue {
  msg!: string;

  inputValue = '';
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.center{
  justify-content: center;
}
input{
  font-weight: 700;
  font-size: 16px;
}
.card {
  align-content: center;
  border: none;
  background-color: #ffffff;
  width: 470px;
}
.form {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.linkbtn {
  width: 180px;
  font-size: 14px;
}
.border {
  border-color: #979797;
}
.signin {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
h1 {
  margin-bottom: 1.4rem;
  font-size: 42px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

hr {
  color: #979797;
}
.forget {
  color: #131313;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.1rem !important ;
}
span {
  display: inline-block;
}
.align-right {
  text-align: right;
}
</style>
