<template>
  <div class="main">
    <div class="main__left">
      <div class="main__left__row" v-for="item in menus" :key="item.id">
          <!-- <i class="bi bi-house-door"></i> -->
          <p class="main__left__row__name">{{ item.name }}</p>
          <p v-if="item.child" class="main__left__row__arrow-down"></p>
      </div>
    </div>
    <div class="main__right">
        <i class="bi bi-house-door"></i>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue } from 'vue-class-component';

export default class Login extends Vue {
  data () {
    return {
      menus: [
        { id: 1, name: 'Trang chủ', icon: '', child: false, parentId: 0 },
        { id: 2, name: 'Quản lý dự án', icon: '', child: true, parentId: 0 },
        { id: 3, name: 'Thống kê báo cáo', icon: '', child: false, parentId: 0 },
        { id: 4, name: 'Khai thác thông tin', icon: '', child: true, parentId: 0 }
      ]
    };
  }
}
</script>
<style scoped>
.main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}
.main__left {
  width: 20%;
  height: 100%;
  background: #e6e7e9;
  border-radius: 22px;
  padding: 16px 18px;
}
.main__right {
  width: 80%;
}
.main__left__row {
    width: 100%;
    text-align: left;
    display: flex;
    padding: 0px;
    height: 24px;
    margin: 8px 0;
    justify-content: center;
}
.main__left__row__name{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #2B2C2E;
    margin: 0px 12px;
}
.main__left__row__arrow-down{
    transform: rotate(-135deg);
    width: 9px;
    height: 9px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-color: gray;
    border-width: 3px;
    margin-top: 3px;
}
</style>
