@import 'assets/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap');
body{
    
    background-color: #F9F9F9;
    h1{
        color: #7A40F2;
        font-weight: 700;
        font-size: 42px;
    }
}

.button{
    border: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #7A40F2;
    border-radius: 30px;
}
.input{
    background-color: #EAEAEA;
    border-radius: 7px;
    border-color:#F9F9F9;
}
.dropdown-style{
    border-color:#F9F9F9;
    width: 100%;
    height: 2.3rem;
    background-color: #EAEAEA;
    border: none;
    border-radius: 7px;
    text-align: right;
    color: #131313;
    font-weight: 700;
    .default-dropdown{
        color: #94989E;
        font-size: 25px;
    }
}
.label{
    text-align: left;
    font-weight: 700;
}